# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-cambiar-esta-clave-en-produccion
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=sgi_db
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
